# Naive Bayes

## Imports

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('darkgrid')

In [7]:
data = pd.read_csv('breast_cancer_data.csv')
data.head(10)

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0
5,12.45,15.70,82.57,477.1,0.12780,0
6,18.25,19.98,119.60,1040.0,0.09463,0
7,13.71,20.83,90.20,577.9,0.11890,0
8,13.00,21.82,87.50,519.8,0.12730,0
9,12.46,24.04,83.97,475.9,0.11860,0

In [13]:
data = data[["mean_radius", "mean_texture", "mean_smoothness", "diagnosis"]]
data.head(10)

   mean_radius  mean_texture  mean_smoothness  diagnosis
0        17.99         10.38          0.11840          0
1        20.57         17.77          0.08474          0
2        19.69         21.25          0.10960          0
3        11.42         20.38          0.14250          0
4        20.29         14.34          0.10030          0
5        12.45         15.70          0.12780          0
6        18.25         19.98          0.09463          0
7        13.71         20.83          0.11890          0
8        13.00         21.82          0.12730          0
9        12.46         24.04          0.11860          0